*{
  font-size: 18px;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  background: #202124;
  
}

.calc_body {
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  border-radius: 4px;
  padding: 20px 50px;
}

.outputs {
  display: flex;
  width: 430px;
  justify-content: space-between;
  padding: 20px 5px;
  background: #202124;
  color: #e8eaed;
  border: 1px solid #3c4043;
  border-radius: 10px;
  white-space: nowrap;
  margin: 0 0 20px 0;
}

.digits {
  display: grid;
  margin: 0 10px 0 0;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
}

.operations {
  display: grid;
  grid-template-columns: 100px;
  gap: 10px;
  height: 200px;

}

.button_container {
  display: flex;
  justify-content: center;
}

/* .output {
  
} */

button {
  background: #3c4043;
  color: #e8eaed;
  border: 1px solid #3c4043;
  border-radius: 4px;
}

#equality {
  background: #8ab4f8;
  color: #202124;
  border: 1px solid #8ab4f8;
  border-radius: 4px;
}

#equality:hover {
  background: #aecbfa;
  border-color: #aecbfa;
}

button:hover {
  background: #52585c;
  cursor: pointer;
}

.operation {
  background: #5f6368;
  color: #e8eaed;

  border-radius: 4px;
  
}

#point {
  background: #3c4043;
  color: #e8eaed;
}
#point:hover {
  background: #52585c;
  cursor: pointer;
}
.a {
  display: grid;
  margin: 0 0 10px 0;
  grid-template-columns: repeat(4, 100px);
  height: 42.5px;
  gap: 10px;
}

.prevOps {
  display: block;
  overflow: auto;
  position: absolute;
  padding: 0 16px 16px 16px;
  max-height: 309px;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 4px;
  background: #202124;

  color: #8ab4f8;
  ;
}

.outputs:hover {
  background: #303134;
  border: 1px solid #303134;
}

#focused_outputs {
  border: 1px solid #8ab4f8;
}